



<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=" <%- post.description %> ">
    <meta name="keywords" content="<%- post.keywords %> ">
    <title> <%= post.title %> </title>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <div class="container">
        <div class="card" style="border: 0; border-radius: 1rem;">
            <div class="card-header" style="background-color: #05011b;">
               <h2> <%= post.title %> </h2>
            </div>
    
            <div class="card-body" style="background-color: #05011b; color: #eee;">
                <center>
                    <img src="<%= post.img %>" class="img-fluid">
                </center>
                <%- post.body %>
            </div>
        </div>
    </div>

    <br>

   <center>
    <a href="/blog" class="btn btn-success">
        Ver mais artigos
    </a>
    
   </center>
    <br>
    
    <div class="container">
        <h3 style="color: #5ad67d">
            Converse conosco!
        </h3>
    
        <br>
        
        <center>
            <div class="fb-comments" data-href="https://bolamundial.com.br" data-width="800" data-numposts="1" style="border-radius: 1rem;"></div>
        </center>

       
</body>
</html>
<%- include('../partials/footer.ejs')%>

